# -----------------------------
# Environment files (NEVER COMMIT)
# -----------------------------
.env
.env.local
.env.development
.env.production

# -----------------------------
# Logs
# -----------------------------
logs
*.log
npm-debug.log*

# -----------------------------
# Node modules
# -----------------------------
node_modules/

# -----------------------------
# OS files
# -----------------------------
.DS_Store

# -----------------------------
# Scripts (local only)
# -----------------------------
*.sh
*

# Firebase credentials
paypiggy-ab20a-firebase-adminsdk-fbsvc-e6a7abc7a6.json
.vercel
.env*.local
node_modules
node_modules
